# JRE Bundle ausschliessen
auslieferung/JarExe/bundlejre/

# Java Binaries ausschliessen
javaprojekte/SimSTB/bin/

# Eclipse Einstellungen ausschliessen
javaprojekte/.metadata/
javaprojekte/.recommenders/

# Unnützes der C-Library-Erstellung und des C++-Beispiels ausschliessen
cprojekte/simlib/Debug/
cprojekte/simlib/Release/
cprojekte/simlib/ipch/
cprojekte/simlib/simlib/Debug/
cprojekte/simlib/simlib/Release/

cprojekte/beispiel/Debug/
cprojekte/beispiel/Release/
cprojekte/beispiel/ipch/
cprojekte/beispiel/beispiel/Debug/
cprojekte/beispiel/beispiel/Release/

# Python Zwischendateien ausschliessen
python\__pycache__

# Log-Daten (Datenaufzeichnung) ausschliessen
*.log
# Zip-Daten (Auslieferung) ausschliessen
*.zip
