# Ignore temporary development directories and files ##########################################################
.vscode/
build/
dist/
.venv/
__pycache__/
.pytest_cache/
.coverage
auslieferung

# Ignore runtime directories and files ########################################################################
data/
*.log

