# Ignore temporary development directories and files ##########################################################
.github/
.pytest_cache/
.venv/
.vscode/
dist/
__pycache__/
.coverage
src/sim_basis/resources/
.tox/

# Ignore runtime directories and files ########################################################################
sim/
*.log

    